@import '../../../styleguide.scss';

.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.titleLink {
  color: $defaultColor;
  margin: 16px;
  font-size: $bigCTAFontSize;
}

.checkoutButton {
  & button {
    & span {
      font-size: 18px !important;
    }
  }
}
