@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import './styleguide.scss';

:global(html, body) {
  width: 100%;
  height: auto;
  margin: 0;
  color: $defaultColor;
}

:global(body) {
  background-color: $transparentWhiteColor;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $defaultFontSize;
  color: $defaultColor;
}

:global(a) {
  color: $defaultLinkColor;
  text-decoration: none;
}

:global(#root) {
  width: 100%;
}

.contentArea {
  display: flex;
  flex-direction: column;
}
