/* Colors */
$defaultColor: #333;
$defaultLightColor: #444;
$lightGrayMainColor: #ddd;
$defaultWhiteColor: #fafafa;
$transparentWhiteColor: #fff;

$overlayColor: rgba(128, 128, 128, 0.4);

$defaultLinkColor: #399bd8;

$errorColor: rgb(255, 106, 106);

$loaderBorderTopColor: #3498db;

/* Fonts */
$defaultFontSize: 30px;
$headerFontSize: 26px;
$bigCTAFontSize: 24px;
$errorFontSize: 0.6rem;
